<!DOCTYPE html>
<html>
<head>
	<title>$http service </title>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body ng-app="myModule" class="container-fluid">

	<input type="text" ng-model="searchData">

	<div ng-controller="myController" class="row">
		<div ng-repeat="book in Books|filter:searchData" class="col-4">
			<h1>{{book.Title}}</h1>
			<h1>{{book.Description}}</h1>
			<img src="{{book.Image}}">
		</div>
	</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>
	var app=angular.module("myModule",[]);
	app.controller("myController",function($scope,$http){
	   
	   $http.get("http://it-ebooks-api.info/v1/search/php%20mysql").then (function successData(response)

		{
			 $scope.Books=response.data.Books;
			console.log("thank you");
		},
		function errorData(reason)
		{
			$scope.error=reason.data;
			console.log("sorry error");
		});
	});
</script>
</html>