<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <body>
        <div ng-app="myModule">
    
            <div ng-controller="myController">
                <p ng-repeat="insaan in logon">Hi I am {{insaan.name}} my number is {{insaan.number}} and I live at {{insaan.address}} , I am {{insaan.age}} years old </p>

                
                <p ng-repeat="insaan in logon">Hi I am <span ng-bind="insaan.name"></span> my number is <span ng-bind="insaan.number"></span> and I live at <span ng-bind="insaan.address"></span> , I am <span ng-bind="insaan.age"></span> years old </p>
                
                <hr><hr><hr>
            </div>
        </div>
    </body>
    
    <script src="../js/angular.min.js"></script>
    <script>
    
        var app = angular.module("myModule",[]);
        app.controller("myController",function($scope){
            $scope.logon=[{name:"Mayank",number:"1",address:"Indore",age:29},{name:"Ujjawal",number:"2",address:"Neemuch",age:24},{name:"Suryakant",number:"3",address:"Indore",age:23},{name:"Shilpa",number:"4",address:"Indore",age:25},{name:"Meenal",number:"5",address:"Indore",age:22},{name:"Darshay",number:"6",address:"Indore",age:25}];
        })
    </script>

</html>